flows.json
[
    {
        "id": "cf398fad7586328c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0436d0cc5d70b84",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=stop\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "9544225177889603"
            ]
        ]
    },
    {
        "id": "9544225177889603",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1afea08da7ab4305",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=vol.sh%20-up%2010\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=vol.sh%20-dn%2010\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 500,
        "wires": [
            [
                "cb01eee888d82f93"
            ]
        ]
    },
    {
        "id": "cb01eee888d82f93",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "017d1c46feea2d19",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=clear\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=clear\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "036ba71c45e0cf5c"
            ]
        ]
    },
    {
        "id": "036ba71c45e0cf5c",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 560,
        "wires": [
            [
                "0120370fdd6581ce"
            ]
        ]
    },
    {
        "id": "0120370fdd6581ce",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url =\"http://192.168.178.51/command/?cmd=add%20https://streams.egofm.de/egoFM-hq\"\n} else {\n  res.url =\"http://192.168.178.51/command/?cmd=add%20https://streams.egofm.de/egoFM-hq\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 560,
        "wires": [
            [
                "b73f31ef6dd6b159"
            ]
        ]
    },
    {
        "id": "b73f31ef6dd6b159",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "3fb790d071b63faf"
            ]
        ]
    },
    {
        "id": "3fb790d071b63faf",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 560,
        "wires": [
            [
                "dd137d2939b7dd0a"
            ]
        ]
    },
    {
        "id": "dd137d2939b7dd0a",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "686df368e72c4dbd",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=clear\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=clear\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "ace4ad6c48379ed6"
            ]
        ]
    },
    {
        "id": "ace4ad6c48379ed6",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "ccd04da5a11e9095"
            ]
        ]
    },
    {
        "id": "ccd04da5a11e9095",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url =\"http://192.168.178.51/command/?cmd=add%20http://stream.radioparadise.com/flacm\"\n} else {\n  res.url =\"http://192.168.178.51/command/?cmd=add%20http://stream.radioparadise.com/flacm\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 620,
        "wires": [
            [
                "2978cd0dedbb47e5"
            ]
        ]
    },
    {
        "id": "2978cd0dedbb47e5",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "edd1a2bc97e240a1"
            ]
        ]
    },
    {
        "id": "edd1a2bc97e240a1",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 620,
        "wires": [
            [
                "43a8c151bdba5b76"
            ]
        ]
    },
    {
        "id": "43a8c151bdba5b76",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "bf1847b349281db4",
        "type": "amazon-echo-hub",
        "z": "cf398fad7586328c",
        "port": "8980",
        "processinput": 0,
        "discovery": true,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "ded11920c8a1b9a4",
                "c1ef6e520434e34c",
                "7f01abaec561defe",
                "3d2142f050aad290",
                "4a3320f50da037d3",
                "11ed3f7867cf7dbf",
                "852f74d889e13b35",
                "c442be958974c3a1"
            ]
        ]
    },
    {
        "id": "ded11920c8a1b9a4",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Himbeere",
        "topic": "",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "f0436d0cc5d70b84",
                "9ff502226eb6ac20"
            ]
        ]
    },
    {
        "id": "c1ef6e520434e34c",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Krach",
        "topic": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "1afea08da7ab4305"
            ]
        ]
    },
    {
        "id": "7f01abaec561defe",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Entdecker",
        "topic": "",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "017d1c46feea2d19"
            ]
        ]
    },
    {
        "id": "3d2142f050aad290",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Paradies",
        "topic": "",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "686df368e72c4dbd"
            ]
        ]
    },
    {
        "id": "564e26760726a90e",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=clear\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=clear\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "9150210baff4fdb5"
            ]
        ]
    },
    {
        "id": "9150210baff4fdb5",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 680,
        "wires": [
            [
                "b3ec9d231e678c36"
            ]
        ]
    },
    {
        "id": "b3ec9d231e678c36",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url =\"http://192.168.178.51/command/?cmd=add%20http://stream.radioparadise.com/rock-flacm\"\n} else {\n  res.url =\"http://192.168.178.51/command/?cmd=add%20http://stream.radioparadise.com/rock-flacm\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 680,
        "wires": [
            [
                "4764902628418502"
            ]
        ]
    },
    {
        "id": "4764902628418502",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 680,
        "wires": [
            [
                "601b6e25351f4114"
            ]
        ]
    },
    {
        "id": "601b6e25351f4114",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n} else {\n  res.url=\"http://192.168.178.51/command/?cmd=play\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 680,
        "wires": [
            [
                "a8078390dc8d6a8b"
            ]
        ]
    },
    {
        "id": "a8078390dc8d6a8b",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4a3320f50da037d3",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Steinwurf",
        "topic": "",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "564e26760726a90e"
            ]
        ]
    },
    {
        "id": "d759cff56d74e471",
        "type": "spotify",
        "z": "cf398fad7586328c",
        "name": "pause playing",
        "auth": "f658ec7c39016451",
        "api": "pause",
        "x": 1240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d90c5806c304e56f",
        "type": "switch",
        "z": "cf398fad7586328c",
        "name": "",
        "property": "payload.device.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ServerMoode Spotify",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "274c212a4c30298a"
            ],
            []
        ]
    },
    {
        "id": "faff484003f82797",
        "type": "spotify",
        "z": "cf398fad7586328c",
        "name": "getPlaybackForDeviceName",
        "auth": "f658ec7c39016451",
        "api": "getMyCurrentPlaybackState",
        "x": 840,
        "y": 240,
        "wires": [
            [
                "d90c5806c304e56f"
            ]
        ]
    },
    {
        "id": "274c212a4c30298a",
        "type": "spotify",
        "z": "cf398fad7586328c",
        "name": "resume playing",
        "auth": "f658ec7c39016451",
        "api": "play",
        "x": 1240,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cface7a1ed08d6b6",
        "type": "switch",
        "z": "cf398fad7586328c",
        "name": "",
        "property": "payload.device.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ServerMoode Spotify",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "d759cff56d74e471"
            ],
            []
        ]
    },
    {
        "id": "71f8b5085d0e3305",
        "type": "spotify",
        "z": "cf398fad7586328c",
        "name": "getPlaybackForDeviceName",
        "auth": "f658ec7c39016451",
        "api": "getMyCurrentPlaybackState",
        "x": 840,
        "y": 300,
        "wires": [
            [
                "cface7a1ed08d6b6"
            ]
        ]
    },
    {
        "id": "9ff502226eb6ac20",
        "type": "switch",
        "z": "cf398fad7586328c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "faff484003f82797"
            ],
            [
                "71f8b5085d0e3305"
            ]
        ]
    },
    {
        "id": "11ed3f7867cf7dbf",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Küche",
        "topic": "",
        "x": 350,
        "y": 780,
        "wires": [
            [
                "218672316566ea11",
                "6338a8da0c223a6e"
            ]
        ]
    },
    {
        "id": "852f74d889e13b35",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Büro",
        "topic": "",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "b84b38f115898c86",
                "6338a8da0c223a6e"
            ]
        ]
    },
    {
        "id": "c442be958974c3a1",
        "type": "amazon-echo-device",
        "z": "cf398fad7586328c",
        "name": "Wohnzimmer",
        "topic": "",
        "x": 370,
        "y": 900,
        "wires": [
            [
                "90ecfa21c919ba15",
                "6338a8da0c223a6e"
            ]
        ]
    },
    {
        "id": "218672316566ea11",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url =\"http://192.168.178.46/command/?cmd=trx_control%20-rx%20On\"\n} else {\n  res.url =\"http://192.168.178.46/command/?cmd=trx_control%20-rx%20Off\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 780,
        "wires": [
            [
                "8b344b9e7388547f"
            ]
        ]
    },
    {
        "id": "b84b38f115898c86",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url=\"http://192.168.178.26/command/?cmd=trx_control%20-rx%20On\"\n} else {\n  res.url=\"http://192.168.178.26/command/?cmd=trx_control%20-rx%20Off\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 820,
        "wires": [
            [
                "3dc3d8ab05e14182"
            ]
        ]
    },
    {
        "id": "90ecfa21c919ba15",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nif (msg.on) {\n  res.url =\"http://192.168.178.52/command/?cmd=trx_control%20-rx%20On\"\n} else {\n  res.url =\"http://192.168.178.52/command/?cmd=trx_control%20-rx%20Off\"\n}\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 900,
        "wires": [
            [
                "013069876e8cc207"
            ]
        ]
    },
    {
        "id": "8b344b9e7388547f",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3dc3d8ab05e14182",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "013069876e8cc207",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "55ddfcd6c6a5b867",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "function 1",
        "func": "res = { payload: 0 }\nif (msg.on) {\n    res.url = \"http://192.168.178.51/command/?cmd=get_output_format\"\n}\nres.payload = \"\"\nreturn res;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "024ca679f789d0bc"
            ]
        ]
    },
    {
        "id": "024ca679f789d0bc",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 840,
        "wires": [
            [
                "3a99cc0435f6be94"
            ]
        ]
    },
    {
        "id": "6338a8da0c223a6e",
        "type": "switch",
        "z": "cf398fad7586328c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 840,
        "wires": [
            [
                "55ddfcd6c6a5b867"
            ],
            []
        ]
    },
    {
        "id": "3a99cc0435f6be94",
        "type": "switch",
        "z": "cf398fad7586328c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "{\"format\":\"Not playing\"}",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1390,
        "y": 840,
        "wires": [
            [
                "c6d40c53504c0d90",
                "9c6057f51be5be6b"
            ]
        ]
    },
    {
        "id": "c6d40c53504c0d90",
        "type": "function",
        "z": "cf398fad7586328c",
        "name": "",
        "func": "res={payload :0}\nres.url=\"http://192.168.178.51/command/?cmd=play\"\nres.payload=\"\"\nreturn res;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 840,
        "wires": [
            [
                "6abc3789e12ca9c8"
            ]
        ]
    },
    {
        "id": "6abc3789e12ca9c8",
        "type": "http request",
        "z": "cf398fad7586328c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1710,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "9c6057f51be5be6b",
        "type": "debug",
        "z": "cf398fad7586328c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 900,
        "wires": []
    },
    {
        "id": "f658ec7c39016451",
        "type": "spotify-auth",
        "name": "Spotify OAuth2",
        "scope": "user-read-playback-state\nuser-modify-playback-state\nuser-read-currently-playing\n"
    }
]